<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.RiderMapper">
    <update id="rob">
        update orders set rider=#{rider} where num=#{num}
    </update>

    <select id="queryallorder" resultType="com.example.pojo.Order">
        select * from orders;
    </select>
    <select id="queryorderable" resultType="com.example.pojo.Order">
        select * from orders where rider is  null
    </select>
    <select id="querymyorder" resultType="com.example.pojo.Order">
        select * from orders where rider=#{account}
    </select>
</mapper>